"$schema" = 'https://starship.rs/config-schema.json'

format = """
[](bg-5)\
$os\
$username\
[](bg:bg-4 fg:bg-5)\
$directory\
[](bg:bg-3 fg:bg-4)\
$git_branch\
$git_status\
[](fg:bg-3 bg:bg-2)\
$c\
$rust\
$golang\
$nodejs\
$php\
$java\
$kotlin\
$haskell\
$python\
[](fg:bg-2 bg:bg-1)\
$conda\
[](fg:bg-1 bg:bg-0)\
$time\
[ ](fg:green)\
$cmd_duration\
$line_break\
$character"""

palette = 'everforest'

[os]
disabled = false
style = "bg:bg-5 fg:green"

[os.symbols]
Windows = ""
Ubuntu = "󰕈"
SUSE = ""
Raspbian = "󰐿"
Mint = "󰣭"
Macos = "󰀵"
Manjaro = ""
Linux = "󰌽"
Gentoo = "󰣨"
Fedora = "󰣛"
Alpine = ""
Amazon = ""
Android = ""
Arch = "󰣇"
Artix = "󰣇"
CentOS = ""
Debian = "󰣚"
Redhat = "󱄛"
RedHatEnterprise = "󱄛"

[username]
show_always = true
style_user = "bg:bg-5 fg:green"
style_root = "bg:bg-5 fg:green"
format = '[ $user]($style)'

[directory]
style = "bg:bg-4 fg:aqua"
format = "[ $path ]($style)"
truncation_length = 3
truncation_symbol = "…/"

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = "󰝚 "
"Pictures" = " "
"Developer" = "󰲋 "

[git_branch]
symbol = ""
style = "bg:bg-3"
format = '[[ $symbol $branch ](fg:blue bg:bg-3)]($style)'

[git_status]
style = "bg:bg-3"
format = '[[($all_status$ahead_behind )](fg:blue bg:bg-3)]($style)'

[nodejs]
symbol = ""
style = "bg:bg-2"
format = '[[ $symbol( $version) ](fg:purple bg:bg-2)]($style)'

[c]
symbol = " "
style = "bg:bg-2"
format = '[[ $symbol( $version) ](fg:purple bg:bg-2)]($style)'

[rust]
symbol = ""
style = "bg:bg-2"
format = '[[ $symbol( $version) ](fg:purple bg:bg-2)]($style)'

[golang]
symbol = ""
style = "bg:bg-2"
format = '[[ $symbol( $version) ](fg:purple bg:bg-2)]($style)'

[php]
symbol = ""
style = "bg:bg-2"
format = '[[ $symbol( $version) ](fg:purple bg:bg-2)]($style)'

[java]
symbol = " "
style = "bg:bg-2"
format = '[[ $symbol( $version) ](fg:purple bg:bg-2)]($style)'

[kotlin]
symbol = ""
style = "bg:bg-2"
format = '[[ $symbol( $version) ](fg:purple bg:bg-2)]($style)'

[haskell]
symbol = ""
style = "bg:bg-2"
format = '[[ $symbol( $version) ](fg:purple bg:bg-2)]($style)'

[python]
symbol = ""
style = "bg:bg-2"
format = '[[ $symbol( $version)(\(#$virtualenv\)) ](fg:purple bg:bg-2)]($style)'

[docker_context]
symbol = ""
style = "bg:4"
format = '[[ $symbol( $context) ](fg:purple bg:bg-2)]($style)'

[conda]
symbol = "  "
style = "fg:orange bg:bg-1"
format = '[$symbol$environment ]($style)'
ignore_base = false

[time]
disabled = false
time_format = "%R"
format = '[  $time ](fg:yellow bg:bg-0)'

[line_break]
disabled = false

[character]
disabled = false
success_symbol = '[❯](bold fg:green)'
error_symbol = '[❯](bold fg:red)'
vimcmd_symbol = '[❮](bold fg:10)'
vimcmd_replace_one_symbol = '[❮](bold fg:13)'
vimcmd_replace_symbol = '[❮](bold fg:13)'
vimcmd_visual_symbol = '[❮](bold fg:11)'

[cmd_duration]
show_milliseconds = false
format = "$duration"
style = "fg:gray-2"
disabled = false
show_notifications = false
min_time_to_notify = 45000

[palettes.everforest]
foreground = "#D3C6AA"
gray-2 = "#9DA9A0"
bg-0 = "#272E33"
bg-1 = "#2E383C"
bg-2 = "#374145"
bg-3 = "#414B50"
bg-4 = "#495156"
bg-5 = "#4F5B58"
red = "#E67E80"
orange = "#E69875"
yellow = "#DBBC7F"
green = "#A7C080"
blue = "#7FBBB3"
aqua = "#83C092"
purple = "#D699B6"

[palettes.catppuccin_frappe]
rosewater = "#f2d5cf"
flamingo = "#eebebe"
pink = "#f4b8e4"
mauve = "#ca9ee6"
red = "#e78284"
maroon = "#ea999c"
peach = "#ef9f76"
yellow = "#e5c890"
green = "#a6d189"
teal = "#81c8be"
sky = "#99d1db"
sapphire = "#85c1dc"
blue = "#8caaee"
lavender = "#babbf1"
text = "#c6d0f5"
subtext1 = "#b5bfe2"
subtext0 = "#a5adce"
overlay2 = "#949cbb"
overlay1 = "#838ba7"
overlay0 = "#737994"
surface2 = "#626880"
surface1 = "#51576d"
surface0 = "#414559"
base = "#303446"
mantle = "#292c3c"
crust = "#232634"

[palettes.catppuccin_latte]
rosewater = "#dc8a78"
flamingo = "#dd7878"
pink = "#ea76cb"
mauve = "#8839ef"
red = "#d20f39"
maroon = "#e64553"
peach = "#fe640b"
yellow = "#df8e1d"
green = "#40a02b"
teal = "#179299"
sky = "#04a5e5"
sapphire = "#209fb5"
blue = "#1e66f5"
lavender = "#7287fd"
text = "#4c4f69"
subtext1 = "#5c5f77"
subtext0 = "#6c6f85"
overlay2 = "#7c7f93"
overlay1 = "#8c8fa1"
overlay0 = "#9ca0b0"
surface2 = "#acb0be"
surface1 = "#bcc0cc"
surface0 = "#ccd0da"
base = "#eff1f5"
mantle = "#e6e9ef"
crust = "#dce0e8"

[palettes.catppuccin_macchiato]
rosewater = "#f4dbd6"
flamingo = "#f0c6c6"
pink = "#f5bde6"
mauve = "#c6a0f6"
red = "#ed8796"
maroon = "#ee99a0"
peach = "#f5a97f"
yellow = "#eed49f"
green = "#a6da95"
teal = "#8bd5ca"
sky = "#91d7e3"
sapphire = "#7dc4e4"
blue = "#8aadf4"
lavender = "#b7bdf8"
text = "#cad3f5"
subtext1 = "#b8c0e0"
subtext0 = "#a5adcb"
overlay2 = "#939ab7"
overlay1 = "#8087a2"
overlay0 = "#6e738d"
surface2 = "#5b6078"
surface1 = "#494d64"
surface0 = "#363a4f"
base = "#24273a"
mantle = "#1e2030"
crust = "#181926"
